#contact {
  &-a {
    form {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message"
        "button button";
      border: $light-color;
      gap: 1rem;

      & *:not(.button) {
        padding-left: 10px;
        border-radius: 8px;
      }

      .name {
        grid-area: name;
        height: 40px;
      }

      .email {
        grid-area: email;
        height: 40px;
      }

      .subject {
        grid-area: subject;
        height: 40px;
      }

      .message {
        grid-area: message;
        height: 150px;
      }

      .button {
        grid-area: button;
        height: 40px;
        border: none;
        border-radius: 8px;
      }
    }
  }

  &-b {
    color: #fff;

    .contacts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      padding: 3.5rem 0;
    }
  }
}
