#header {
  &-home {
    background: $bg-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;

    nav {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 70px;
        height: 70px;
      }

      ul {
        display: flex;

        li {
          margin-left: 2rem;

          a {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 1rem;
            transition: border-bottom 0.3s;
            border-bottom: solid transparent;

            &:hover {
              border-bottom: 3px solid #fff;
            }
          }
        }
      }
    }

    .content {
      text-align: center;
      padding-top: 15%;

      h1 {
        font-size: 4rem;

        .typewrite {
          display: block;
        }
      }
    }
  }

  &-about {
    nav {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 70px;
        height: 70px;
      }

      ul {
        display: flex;

        li {
          margin-left: 2rem;

          a {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 1rem;
            transition: border-bottom 0.3s;
            border-bottom: solid transparent;

            &:hover {
              border-bottom: 3px solid #fff;
            }
          }
        }
      }
    }
  }
}

#home {
  &-a {
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .item {
        padding: 2rem;
        background-color: $light-color;
        border-radius: 8px;

        i {
          color: $primary-color;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  &-b {
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .item {
        padding: 3rem 2rem;

        &:nth-of-type(even) {
          background-color: $light-color;
        }

        &:nth-of-type(odd) {
          background-color: $medium-color;
        }
      }
    }
  }

  &-c {
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .item {
        i {
          position: relative;
          color: #fff;
          padding: 2rem;
          border-radius: 50%;
          background-color: $dark-color;
          width: 125px;
          height: 125px;
          transition: all 1s;

          &:hover {
            background-color: $primary-color;

            .step-number {
              background-color: $dark-color;
            }
          }

          .step-number {
            position: absolute;
            line-height: 15px;
            top: 0;
            right: 0;
            background-color: $primary-color;
            padding: 1rem;
            font-size: 1.5rem;
            border-radius: 50%;
            transition: all 1s;
          }
        }
      }
    }
  }
}
