#projects {
  &-a {
    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .item {
        background-color: $light-color;

        & > div {
          padding: 0.5rem 0;
        }
      }
    }
  }
}
