.container {
  max-width: $max-width;
  margin: auto;
}

.active {
  border-bottom: 3px solid $primary-color !important;
}

.bg-dark {
  background-color: $dark-color;
}

%btn {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  transition: all 0.5s;
}

.btn {
  &-primary {
    @extend %btn;
    background-color: $primary-color;
    color: #fff;
  }

  &-light {
    @extend %btn;
    background-color: $light-color;
    color: $dark-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.text-center {
  text-align: center;
}

.section-header {
  margin: 0.5rem 0;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
}

.divide {
  width: 3rem;
  height: 4px;
  margin: 0 auto;
  background-color: $primary-color;
}

.lead {
  margin: 1rem 0;
  padding: 2rem 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}
